@use '../../abstracts/' as *;
.recipe {
  margin: 3rem 4rem;
  border-radius: 2rem;
  border: 3px solid $color-grey-light-2;
  box-shadow: $shadow-light;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    margin-bottom: 2.4rem;
    background-color: $color-grey-light-2;
    max-height: 31.5rem;
  }

  ///////////
  // FIGURE
  &__fig {
    display: flex;
    height: 100%;
    position: relative;
    width: 50%;
  }

  &__img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    // border-radius: 2rem;
  }

  &__title {
    grid-column: 1 / span 2;
    color: #fff;
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
    // width: 50%;
    line-height: 1.95;
    text-align: center;

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
      background-image: linear-gradient(
        to right bottom,
        $color-grad-1,
        $color-grad-2
      );
    }

    @media only screen and (max-width: $bp-medium) {
      width: 70%;
    }
  }

  ///////////
  // DETAILS
  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 2.5rem;
    padding: 5rem 7rem;
  }

  &__info {
    font-size: 1.65rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 4.5rem;
    }
  }

  &__info-icon {
    height: 2.35rem;
    width: 2.35rem;
    fill: $color-primary;
    margin-right: 1.15rem;
  }

  &__info-data {
    margin-right: 0.5rem;
    font-weight: 700;
  }

  &__info-buttons {
    display: flex;
    margin-left: 1.6rem;
    transform: translateY(-1px);
  }

  &__user-generated {
    background-color: darken($color-grey-light-2, 2%);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 10rem;

    margin-left: auto;
    margin-right: 1.75rem;

    svg {
      height: 2.25rem;
      width: 2.25rem;
      fill: $color-primary;
    }
  }

  ///////////
  // COOKING
  &__cooking {
    display: flex;
    height: 100%;
    padding: 2rem 4rem;
  }
  ///////////
  // INGREDIENTS
  &__ingredients {
    padding: 2rem 4rem;
    font-size: 1.6rem;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
  }

  &__ingredient-list {
    display: grid;
    grid-template-columns: max-content;
    font-style: itallic;
  }

  &__ingredient {
    display: flex;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-primary;
    margin-right: 1.1rem;
    flex: 0 0 auto;
    margin-top: 0.1rem;
  }

  &__quantity {
    margin-right: 0.5rem;
    flex: 0 0 auto;
  }

  ///////////
  // DIRECTIONS
  &__directions {
    // padding: 5rem 10rem;
    // padding-bottom: 5rem;
    padding: 2rem 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__directions-text {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: $color-grey-dark-2;
  }

  &__publisher {
    font-weight: 700;
  }
}
