@use '../../abstracts/' as *;
.recipe {
  margin: 2rem 2rem 2rem 4rem;
  border-radius: 2rem;
  box-shadow: $shadow-medium;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-grey-light-1;
  @include respond(smallest-laptop) {
    margin-left: 1rem;
  }
  @include respond(tab-land) {
    overflow: visible;
    margin: 2rem;
  }
  @include respond(phone) {
    margin-left: 0;
    margin-right: 0;
  }
  &__header {
    display: flex;
    background-color: $color-grey-light-2;
    height: 40%;
    width: 100%;
    // justify-content: center;
    // flex: 0 1 30%;
  }

  ///////////
  // FIGURE
  &__fig {
    // display: flex;
    height: 100%;
    position: relative;
    width: 50%;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right bottom,
        $color-grad-1,
        $color-grad-2
      );
      opacity: 0.3;
    }
  }

  &__img {
    width: 100%;
    // display: block;
    height: 100%;
    object-fit: cover;
    // border-radius: 2rem;
  }

  &__title {
    grid-column: 1 / span 2;
    width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1.75;
    text-align: center;
    justify-self: center;

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
      background-image: linear-gradient(
        to right bottom,
        $color-grad-1,
        $color-grad-2
      );
    }

    @media only screen and (max-width: $bp-medium) {
      width: 70%;
    }
  }

  ///////////
  // DETAILS
  &__details {
    // position: absolute;
    // background-image: linear-gradient(
    //   rgba($color-grad-1, 0.7),
    //   rgba($color-grad-2, 0.5)
    // );
    height: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, min-content);
    gap: 2.5rem;
    padding: 3rem;
    justify-items: center;
  }

  &__info {
    font-size: 1.65rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  &__info-icon {
    height: 2.35rem;
    width: 2.35rem;
    fill: $color-primary;
    margin-right: 1.15rem;
  }

  &__info-data {
    margin-right: 0.5rem;
    font-weight: 700;
  }

  &__info-buttons {
    display: flex;
    margin-left: 1.6rem;
    transform: translateY(-1px);
  }

  &__user-generated {
    background-color: darken($color-grey-light-2, 5%);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 10rem;

    // margin-left: auto;
    margin-right: 1.75rem;

    svg {
      height: 2.25rem;
      width: 2.25rem;
      fill: $color-primary;
    }
  }

  ///////////
  // COOKING
  &__cooking {
    padding: 2rem 4rem;
    display: flex;
    height: 60%;
    @include respond(phone) {
      flex-direction: column;
      gap: 2.5rem;
      height: max-content;
    }
  }
  ///////////
  // INGREDIENTS
  &__ingredients {
    height: 100%;
    overflow: scroll;
    flex: 0 0 60%;
    padding: 3rem;
    font-size: 1.7rem;
    line-height: 1.2;
    // font-style: italic;
    direction: rtl;
  }

  &__ingredient-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    direction: ltr;
    @include respond(phone) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.4rem;
      grid-auto-flow: row;
    }
  }

  &__ingredient {
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-primary;
    margin-right: 1.1rem;
    flex: 0 0 auto;
    margin-top: 0.1rem;
  }

  &__quantity {
    margin-right: 0.5rem;
    flex: 0 0 auto;
  }

  ///////////
  // DIRECTIONS
  &__directions {
    // padding: 5rem 10rem;
    // padding-bottom: 5rem;
    padding: 3rem 1rem;
    flex: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    // box-shadow: $shadow-light;
    border: 2px solid $color-grey-light-3;
  }

  &__directions-text {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: $color-grey-dark-3;
  }

  &__publisher {
    font-weight: 700;
  }
}

.user-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form-meal-time {
  @include respond(tab-land) {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  & select {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    border-radius: 0.5rem;
    color: $color-grey-light-1;
    // height: 100%;
    // max-width: 30%;

    background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem;

    option {
      background-color: $color-grad-2;
    }
  }
  & button {
    display: inline-block;
    width: 10rem;
    padding: 0.45rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $color-set2-primary-dark-2;
    }
  }
}
