// $color-primary: #f59a83;
$color-primary: #87986a;
// $color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;

$color-grey-lightest: #faf9f9;
$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text
$color-grey-dark-3: #3a3331;

$gradient: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);

$shadow-dark: 0 2rem 6rem 0 rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
$shadow-medium: 0 2rem 5rem rgba(0, 0, 0, 0.15);

$line: 0.1rem solid var(--color-grey-light-2);

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

$color-set2-primary: #628ecb;
$color-set2-primary-light-1: #b1c9ef;
$color-set2-primary-light-2: #d5deef;
$color-set2-primary-light-3: #f0f3fa;
$color-set2-primary-dark-1: #395886;
$color-set2-primary-dark-2: #003554;
$color-set2-primary-dark-3: #022b42;
$color-set2-primary-dark-4: #032030;
