@use '../abstracts/' as *;
@use '../base/animations' as *;

%btn {
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  color: $color-set2-primary-dark-4;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 49.99%,
    $color-set2-primary-dark-2 50%
  );
  background-size: 225%;
  background-position: left;
  &:focus {
    outline: none;
  }
  &:hover,
  &:active {
    background-position: right;
    color: $color-set2-primary-light-3;
    transform: translateX(1.2rem);

    .sidebar__nav__btn__icon {
      svg {
        fill: $color-grad-2;
      }
    }
  }
}
.btn {
  @extend %btn;
}

.btn--recipes {
  @extend %btn;
  border-radius: 1.2rem;

  // background-image: $gradient;
  & > *:first-child {
    margin-right: 1rem;
  }
  padding: 1rem 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    height: 2.25rem;
    width: 2.25rem;
    fill: currentColor;
  }
  &:hover {
    transform: scale(1.05);
  }
}

.btn--small {
  &,
  &:link,
  &:visited {
    @extend %btn;
    border-radius: 1.2rem;

    // background-image: $gradient;
    & > *:first-child {
      margin-right: 1rem;
    }
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.25rem 2.25rem;
    text-decoration: none;

    svg {
      height: 1.75rem;
      width: 1.75rem;
      fill: currentColor;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

.btn--inline {
  color: $color-primary;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  background-color: $color-grey-light-1;
  padding: 1.5rem 2rem;
  border-radius: 10rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  transition: all 0.2s;

  svg {
    height: 1.6rem;
    width: 1.6rem;
    fill: currentColor;
    margin: 0 0.2rem;
  }

  span {
    margin: 0 0.4rem;
  }

  &:hover {
    color: $color-grad-2;
    background-color: $color-grey-light-2;
  }

  &:focus {
    outline: none;
  }
}

.btn--round {
  background-image: $gradient;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  // margin-left: auto;
  transition: all 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.07);
  }

  &:focus {
    outline: none;
  }

  svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: #fff;
  }
}

.btn--tiny {
  height: 2rem;
  width: 2rem;
  border: none;
  background: none;
  cursor: pointer;

  svg {
    height: 100%;
    width: 100%;
    fill: $color-primary;
    transition: all 0.3s;
  }

  &:focus {
    outline: none;
  }

  &:hover svg {
    fill: $color-grad-2;
    transform: translateY(-1px);
  }

  &:active svg {
    fill: $color-grad-2;
    transform: translateY(0);
  }

  &:not(:last-child) {
    margin-right: 0.3rem;
  }
}

.btn--control {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;

  transition: all 0.2s;
  border: 1px solid $color-set2-primary;
  border-radius: 1rem;
  background-color: rgba($color-grey-light-3, 0.2);
  color: $color-set2-primary-dark-2;

  &:hover {
    transform: translateY(-0.4rem);
    box-shadow: $shadow-medium;
    background-color: $color-set2-primary-dark-2;
    color: $color-set2-primary-light-2;
  }
  &:active {
    transform: translateY(-0.2rem);
  }
  &--active {
    background-color: $color-set2-primary-dark-1;
    color: $color-set2-primary-light-3;
  }
}

.heading--2 {
  font-size: 2rem;
  font-weight: 700;
  color: $color-primary;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
  // transform: skewY(-3deg);
}

.link:link,
.link:visited {
  color: $color-grey-dark-2;
}

.header--main {
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem;
  color: $color-set2-primary-dark-3;
  font-weight: 500;
  @include respond(tab-port) {
    padding: 0.5rem 8rem;
  }
  &__date {
    font-size: 1.8rem;
  }
  &__welcome {
    font-size: 2rem;
  }
  &__user {
    cursor: pointer;
    border-radius: 50%;
    padding: 0.2rem;
    width: 5rem;
    height: 5rem;
    background-color: $color-set2-primary-dark-3;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: block;
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
    &:hover {
      background-color: $color-set2-primary-dark-1;
    }
  }
}

.message,
.error {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;

  display: flex;

  svg {
    height: 3rem;
    width: 3rem;
    fill: $color-primary;
    transform: translateY(-0.3rem);
  }

  p {
    margin-left: 1.5rem;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 600;
  }
}

.spinner {
  margin: 5rem auto;
  text-align: center;

  svg {
    height: 6rem;
    width: 6rem;
    fill: $color-primary;
    animation: rotate 2s infinite linear;
  }
}

.title__dashboard {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.25px;
  color: #21263b;
  font-weight: 700;
}
