@use '../abstracts/' as *;

.sidebar__nav {
  padding: 2.4rem 2.4rem 4.8rem 2.4rem;
  &__logo {
    width: auto;
    height: 4rem;
    object-fit: contain;
    margin-bottom: 2.4rem;
  }

  &__list {
    list-style: none;
    &__item {
      padding: 1.2rem;
    }
  }
  &__main {
    flex: 0 0 70%;
    border-bottom: 1px solid $color-set2-primary-dark-2;
  }
  &__profile {
    margin-top: auto;
    // flex: 1;
  }
  &__btn {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem 3rem;
    border-radius: 1.2rem;
    text-transform: uppercase;
    transition: all 0.4s;
    color: $color-set2-primary-dark-3;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 49.99%,
      $color-set2-primary-dark-1 50%
    );
    background-size: 220%;
    background-position: left;
    &__icon {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1.25rem;
      svg {
        fill: $color-set2-primary-dark-2;
        transition: all 0.2s;
      }
    }
    &:hover,
    &:active {
      background-position: right;
      color: $color-set2-primary-light-3;
      transform: translateX(1.2rem);

      .sidebar__nav__btn__icon {
        svg {
          fill: $color-grad-1;
        }
      }
    }
    &--active {
      background-position: right;
      color: $color-set2-primary-light-1;
      transform: translateX(1.2rem);

      .sidebar__nav__btn__icon {
        svg {
          fill: $color-grad-1;
        }
      }
    }
  }
}
