@use '../abstracts/' as *;

.content {
  display: flex;
  width: 100dvw;
}

.sidebar__nav {
  // flex: 1;
  // padding: 5rem;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  background-color: $color-grey-light-1;
  @include respond(tab-port) {
    position: absolute;
    width: auto;
    // height: 50%;
    flex-direction: row;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    // width: 6rem;
    padding: 1rem;
    // padding: 2rem;
    z-index: 5;
  }
  &--active {
    background-color: $color-grey-light-1;

    width: 100%;
    transform: translateY(0);
  }
}
.current-view {
  flex: 1;
  // width: 100%;
}
.container {
  height: 100dvh;
  background-color: $color-grey-light-2;
  // box-shadow: 0 2rem 6rem 0.5rem rgba($color-grey-dark-1, 0.2);

  &--recipes {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      'head head'
      'list recipe';
    overflow-y: scroll;

    @media only screen and (max-width: $bp-large) {
      // max-width: 100%;
      margin: 0;
      border-radius: 0;
    }
    @include respond(tab-land) {
      display: flex;
      flex-direction: column;
    }
  }
  &--dashboard {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 'head' 'meals-details';

    .meals-details {
      background-color: $color-grey-light-2;
      grid-area: meals-details;
      padding: 4rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3.2rem;
      grid-template-rows: 1fr min-content min-content;
      grid-auto-flow: row;
      overflow-y: scroll;

      @include respond(smallest-laptop) {
        gap: 2.4rem;
        padding: 2rem;
      }
      @include respond(tab-land) {
        gap: 3.2rem;
        padding: 4rem;
      }
      @include respond(phone) {
        padding: 2rem;
      }
    }
  }
}

.header {
  grid-area: head;
  background-color: $color-grey-light-1;

  display: flex;
  align-items: center;
}
