@use '../../abstracts/' as *;

.add-meals {
  grid-column: 1/2;
  grid-row: 1 / span 2;
  padding: 2rem 4rem;
  border-radius: 1.5rem;
  background-color: $color-grey-light-1;
  overflow-y: scroll;

  @include respond(smallest-laptop) {
    height: 40rem;

    grid-row: 1 / 2;
    grid-column: 1 / span 2;
  }
  @include respond(tab-land) {
    padding: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    padding: 0 3rem;

    @include respond(particular-small-laptop) {
      flex-direction: column;
      gap: 2.4rem;
      justify-content: center;
    }
    @include respond(tab-land) {
      padding: 1rem;
    }
    &__title {
      color: #21263b;
    }
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    th,
    td {
      padding: 1rem 2rem;
      text-align: left;
    }
    thead tr {
      color: #818697;
    }
    thead th {
      width: auto;
    }
    tbody th {
      color: #272c40;
    }
    tbody tr:nth-child(even) {
      background-color: #f7f8fb;
      & td {
        color: #272c40;
      }
    }
    tbody tr:nth-child(odd) {
      background-color: $color-set2-primary-light-3;
    }
  }
}

.btn--add {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: $color-set2-primary-dark-1;
  }
  &:hover > svg {
    fill: $color-set2-primary;
  }
}

.btn--delete {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: #94d82d;
  }
  &:hover > svg {
    fill: #ff5a00;
  }
}
