@use '../../abstracts/' as *;

%graph {
  background-color: #21263b;
  padding: 1rem;
  border-radius: 1.5rem;
}
.graph {
  @extend %graph;
}
.graph--calories {
  grid-area: graphC;
  background-color: #21263b;
  padding: 1rem;
  display: block;
}
.graph--nutrients {
  grid-area: graphN;
}
.graph--general {
  grid-area: graphG;
  // grid-column: 2 / span 2;
}
.graph--stats {
  grid-area: graphP;
}
