@use '../../abstracts/' as *;

@use '../../abstracts/' as *;
.meal-stats {
  background-color: $color-grey-light-1;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  grid-area: meal-stats;
  display: grid;
  grid-template-columns: repeat(3, minmax(15rem, 20rem));
  grid-template-rows: repeat(2, min-content);
  gap: 3.2rem;
  grid-column: 1/2;
  grid-row: 3/4;
  @include respond(particular-small-laptop) {
    gap: 2.4rem;
    overflow-y: scroll;
    direction: rtl;
    // max-height: 22.5rem;
    // height: 15rem;
    grid-template-columns: repeat(2, minmax(15rem, 20rem));
    grid-template-rows: repeat(auto-fit, min-content);
  }

  @include respond(smallest-laptop) {
    grid-column: 1/2;
  }
  @include respond(tab-land) {
    grid-column: 1 / span 2;
    grid-row: 4/5;
    display: flex;
    // overflow-y: visible;
    direction: ltr;
    flex-wrap: wrap;
    justify-content: space-around;
    // height: 25rem;
    max-height: max-content;
  }
  @include respond(phone) {
    // height: 45rem;
    gap: 1.2rem;
  }
  &__stat {
    direction: ltr;
    background-color: $color-grey-light-2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    border-radius: 1.2rem;
    border: 2px solid transparent;
    transition: all 0.3s;
    gap: 1.2rem;
    &--active {
      border: 2px solid $color-grad-1;
      .meal-stats__stat__icon-box {
        background-color: $color-set2-primary-dark-3;
      }
    }
    &:hover {
      border: 2px solid rgba($color-grad-1, 0.65);
      .meal-stats__stat__icon-box {
        background-color: rgba($color-set2-primary-dark-3, 0.9);
      }
    }

    &__icon-box {
      background-color: $color-set2-primary-dark-2;
      border-radius: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      transition: all 0.3s;
      // flex: 1 0 0;
      svg {
        width: 3.2rem;
        height: 3.2rem;

        @include respond(smallest-laptop) {
          width: 3rem;
          height: 3rem;
        }
      }
      .icon-calories {
        stroke: #ff5a00;
      }
      .icon-weight {
        stroke: #8e71f5;
      }
      .icon-body-fat {
        fill: #ffe808;
      }
      .icon-proteins {
        fill: #51cf66;
      }
      .icon-carbs {
        fill: #94d82d;
      }
      .icon-fats {
        fill: #ffd43b;
      }

      @include respond(smallest-laptop) {
        padding: 0.75rem;
      }
    }

    &__total {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__value {
        font-weight: 700;
      }
      &__name {
        font-weight: 500;
        color: #818697;
      }
    }
    @include respond(tab-land) {
      width: auto;
      height: auto;
    }
    @include respond(tab-port) {
      // width: auto;
      gap: 0.6rem;
      width: 15rem;
    }
  }
}
